.contact {
  &-wrapper {
    display: flex;
    align-items: center;
    padding: 80px 0;
  }
  &-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  &-desc {
    margin-top: 16px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  &-info {
    margin-top: 16px;
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 14px 0;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 325px;
        border-bottom: 1px solid $gray-1;
      }
      svg {
        font-size: 20px;
        color: rgb(59, 113, 254);
      }
      h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-left: 10px;
      }
      &:last-child {
        &::after {
          width: 0;
        }
      }
    }
  }
  &-right {
    background: #fff;
    box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 30px;
  }
}
